.input:focus {
}

.input {
  width: 372px;
  height: 36px;
  top: 1461px;
  left: 70px;
  angle: 0 deg;
  opacity: 1;

}

.inputWrapper {
}

.superInput {
}

.errorInput {
  border-color: #cc0000;
}

.errorInput:focus {

}

.error {
color: #cc0000;
}
